<div class="main-container">
  <a class="home" routerLink="/home">&#8678;</a>
  <div class="header-container">
    <p class="main-header">Zugriff auf lokale Dateien</p>
    <p class="instruction">Klicke den Button, um ein auf deinem Gerät gespeichertes Bild auszuwählen und hier einzufügen.</p>
  </div>
  <div class="content-container">
    <div class="image-container">
      <img *ngIf="src$ | async as src" [src]="src">
    </div>
    <button class="button button-primary" (click)="imageChooser.click()">Bild auswählen</button>
    <input #imageChooser type="file"
           accept="image/png, image/jpeg, image/jpg, image/gif"
           style="display: none"
           (input)="onChange($event)">
  </div>
</div>


