<div class="main-container">
  <a routerLink="/home" class="home">&#8678;</a>
  <div class="header-container">
    <p class="main-header">Zugriff auf Vibrationsaktor</p>
    <p class="instruction">Klicke den Button, um eine Vibration auszulösen. Sollte dein Gerät keine Vibration anbieten oder der Browser die Funktion nicht unterstützen, geschieht nichts.</p>
  </div>

  <div class="content-container">
    <button class="button button-primary" (click)="onVibrate()">Vibrieren</button>
  </div>
</div>
