<div class="main-container">
  <a class="home" routerLink="/home">&#8678;</a>
  <div class="header-container">
    <p class="main-header">Barcode scannen</p>
    <p class="instruction">Klicke den Button, um einen Barcode zu scannen. Achtung, hier ist nur das Scannen eines QR-Codes möglich.</p>
  </div>
  <div class="content-container">
    <button class="button button-primary" (click)="fileChooser.click()">Foto aufnehmen</button>
    <input #fileChooser type="file" style="display:none;" id="imageFile" capture="user" accept="image/*" (input)="onChangeImage($event)">
 <!--   <img *ngIf="src$ | async as src" [src]="src" class="takenPhoto"> -->
    <img src="./assets/icons/Barcode.png" class="takenPhoto">
    <button class="button button-primary" (click)="onScanBarcode()">QR-Code scannen</button>
    <div *ngIf="barcodeContent.length > 0">
      <div *ngFor="let b of barcodeContent">
        <p>{{b}}</p>
      </div>
    </div>
  </div>
</div>
