


<div class="main-container">
  <a class="home" routerLink="/home">&#8678;</a>
  <div class="header-container">
    <p class="main-header">Zugriff auf GPS</p>
    <p class="instruction">Klicke den Button, um deinen aktuellen Standort zu ermitteln.</p>
  </div>

  <div class="content-container">
    <button class="button button-primary" (click)="onGetCoordinates()">Standort anzeigen</button>
    <div *ngIf="buttonClicked">
      <p>Längengrad: {{longitude}}</p>
      <p>Breitengrad: {{latitude}}</p>
      <p>Genauigkeit: {{accuracy | number:'1.0-2'}}m</p>
    </div>
  </div>
</div>

