<div class="main-container">
  <a class="home" routerLink="/home">&#8678;</a>
  <div class="header-container">
    <p class="main-header">Zugriff auf Bluetooth</p>
    <p *ngIf="!bluetoothAvailable" class="instruction">Leider ist auf diesem Gerät der Zugriff auf die Web Bluetooth API nicht möglich.</p>
    <p *ngIf="bluetoothAvailable" class="instruction">Damit der Bluetooth-Zugriff funktioniert, musst du ein paar Dinge beachten.
      Stelle sicher, dass Bluetooth und der Standort auf deinem Gerät eingeschaltet sind.
      Verbinde dich zunächst außerhalb der App mit einem Bluetooth-Low-Energy-Gerät, ansonsten ist dieses für die Web Bluetooth API häufig nicht auffindbar.
      Klicke anschließend den Button "Mit Gerät verbinden". Du solltest das Gerät nun in einer Liste finden und kannst dich damit verbinden.
      Falls das Gerät einen Battery-Service anbietet, wird dir der aktuelle Ladestand des Geräts angezeigt.</p>
  </div>
  <div class="content-container">
    <button *ngIf="bluetoothAvailable" class="button button-primary" (click)="onGetBattery()">Mit Gerät verbinden</button>
    <button *ngIf="!bluetoothAvailable" class="button button-disabled">Mit anderem Gerät verbinden</button>
  </div>
  <p *ngIf="battery" class="battery-information">Der Ladestand des Geräts ist: {{battery}}%</p>
  <p class="battery-information">Der Ladestand des Geräts ist: 100%</p>
</div>
