<div class="main-container">
  <div class="header-container">
    <img src="./assets/icons/CM_Logo_152x152.png" alt="Logo" class="logo-image">
    <p class="main-header">Lass uns sehen, was diese App alles kann</p>
    <p class="instruction">Klicke einen Button, um eine Funktionalität zu testen</p>
  </div>
  <div class="content-container">
    <a routerLink="/offline-usage" class="button button-primary">Offline-Nutzung</a>
    <a routerLink="/camera" class="button button-primary">Zugriff auf Kamera</a>
    <a routerLink="/microphone" class="button button-primary">Zugriff auf Mikrofon</a>
    <a routerLink="/vibration" class="button button-primary">Zugriff auf Vibrationsaktor</a>
    <a routerLink="/push-notification" class="button button-primary">Push-Benachrichtigung</a>
    <a routerLink="/location" class="button button-primary">Zugriff auf GPS</a>
    <a routerLink="/local-files" class="button button-primary">Zugriff auf lokale Dateien</a>
    <a routerLink="/bluetooth" class="button button-primary">Zugriff auf Bluetooth</a>
    <a routerLink="/share" class="button button-primary">Teilen in anderer App</a>
    <a routerLink="/contacts" class="button button-primary">Zugriff auf Kontakte</a>
  </div>
</div>
