<div class="main-container">
  <div class="header-container">
    <img src="./assets/icons/CM_Logo_152x152.png" alt="Logo" class="logo-image">
    <p class="main-header">Lass uns sehen, was diese App alles kann</p>
    <p class="instruction">Klicke einen Button, um eine Funktionalität zu testen</p>
  </div>
  <div class="content-container">
    <a routerLink="/offline-usage" class="button button-primary">Offline-Nutzung (A2)</a>
    <a routerLink="/camera" class="button button-primary">Zugriff auf Kamera (A3)</a>
    <a routerLink="/microphone" class="button button-primary">Zugriff auf Mikrofon (A4)</a>
    <a routerLink="/vibration" class="button button-primary">Zugriff auf Vibrationsaktor (A5)</a>
    <a routerLink="/push-notification" class="button button-primary">Benachrichtigung (A6)</a>
    <a routerLink="/location" class="button button-primary">Zugriff auf GPS (A7)</a>
    <a routerLink="/local-files" class="button button-primary">Zugriff auf lokale Dateien (A8)</a>
    <a routerLink="/bluetooth" class="button button-primary">Zugriff auf Bluetooth (A9)</a>
    <a routerLink="/share" class="button button-primary">Teilen in anderer App (A10)</a>
    <a routerLink="/contacts" class="button button-primary">Zugriff auf Kontakte (A11)</a>
    <a routerLink="/authentication" class="button button-primary">Passwortlos authentifizieren (A12)</a>
    <a routerLink="/code-detection" class="button button-primary">Barcode Scanner (A13)</a>
    <a routerLink="/wake-lock" class="button button-primary">Screen Wake Lock (A14)</a>
  </div>
</div>
